models/classes.TXT
models/deploy.prototxt
models/face_spoofing.pkl
models/Headpose_customARC_ZoomShiftNoise.hdf5
models/opencv_face_detector_uint8.pb
models/opencv_face_detector.pbtxt
models/res10_300x300_ssd_iter_140000.caffemodel
models/shape_predictor_68_face_landmarks.dat
models/yolov3.cfg
models/yolov3.txt
models/yolov3.weights